<!-- <div class='body'>
   <div class='container'>
      <div class="row content">
        <h2>登録情報 </h2>

　　　　<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
 　　　 <%= render "customers/shared/error_messages", resource: resource %>

 　
　　　　<table>
  　　　　　<tbody>
    　　　　<tr>
     　　　 <td>名前</td>
 　　　     <td>(姓)</td>
   　　　   <td><%= f.text_field :name_last, autofocus: true, placeholder:"姓" %></td>
 　　　     <td>(名)</td>
    　　　  <td><%= f.text_field :name_first, autofocus: true, placeholder:"名" %></td>
 　　　　   </tr>
   　　　　 <tr>
   　　　   <td>フリガナ</td>
 　　　     <td>(セイ)</td>
 　　　     <td><%= f.text_field :furigana_last, autofocus: true, placeholder:"セイ" %></td>
  　　　    <td>(メイ)</td>
   　　　   <td><%= f.text_field :furigana_first, autofocus: true, placeholder:"メイ" %></td>
   　　　　 </tr>
  　　　　  <tr>
   　　　   <td>メールアドレス</td>
    　　　  <td></td>
    　　　  <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
    　　　  <td></td>
    　　　  <td></td>
 　　　　   </tr>
 　　　　   <tr>
   　　　   <td>郵便番号(ハイフンなし)</td>
 　　　     <td></td>
    　　　  <td><%= f.text_field :post_code, autofocus: true, placeholder:"郵便番号" %></td>
  　　  　  <td></td>
    　　　  <td></td>
 　　　　   </tr>
   　　　　 <tr>
     　　　 <td>住所</td>
 　　　     <td></td>
   　　　   <td><%= f.text_field :address, autofocus: true, placeholder:"住所" %></td>
  　　　    <td></td>
 　　　     <td></td>
 　　　　   </tr>
 　　　　　　<tr>
   　　　   <td>電話番号</td>
      　　　<td></td>
   　　　   <td><%= f.text_field :phone, autofocus: true, placeholder:"電話番号" %></td>
   　　　   <td></td>
   　　　   <td></td>
   　　　　 </tr>
　　　　  </tbody>
　　　　</table>
　　　　<div class="actions">
   　　 <%= f.submit "編集内容を保存する", class: "btn btn-primary" %>
    　　<%= link_to "退会する", customers_confirm_path, class: "btn btn-danger"  %>
 　　　 </div>
　　　　<% end %>
　　</div>
  </div>
</div>




 -->