
<div class='body'>
  <div class='container'>
    <div class="row content">
       <h2>商品新規登録</h2>
　　　　<%= form_for(@item, url: admin_items_path) do |f| %>

   　　　<% if @item.errors.any? %>
      　　　<h2><%= @item.errors.count %>件のエラーが発生しました。</h2>
    　　　　  <% @item.errors.full_messages.each do |message| %>
      　　　  <li><%= message %></li>
     　　　　 <% end %>
   　　　<% end %>
   	  	<div class="col-xs-3">
   	  	  <%= f.attachment_field :image %>
   	  	</div>
   	  	<div class="col-xs-6">
          <table>
          <tr><td>商品名</td><td><%= f.text_field :name, class:"form-control" %></td></tr>
          <tr><td>商品説明</td><td><%= f.text_area :introduction, class:"form-control" %></td></tr>
          <tr><td>ジャンル</td><td><%= f.collection_select :genre_id, Genre.all, :id, :name, :prompt => "--選択してください--" %>
            </td></tr>
          <tr><td>税抜価格</td><td><%= f.text_field :nontaxed_price, class:"form-control" %></td></tr>
          <tr><td>販売ステータス</td><td><%= f.select :is_active, [['販売中',true],['販売停止',false]], { include_blank: true, selected: true } %></td></tr>
        </table>
   	  	</div>
　　　　<div class="row content">
        <div class="col-xs-6">
        </div>
         <div class="col-xs-2">
        <%= f.submit "新規登録", class:"btn btn-primary col-xs-12" %>
      </div>
    </div>
  <% end %>

  </div>
</div>
</div>

