<div class='body'>
  <div class='container'>
    <div class="row content">
        <h1><%= @customer.name_last %><%= @customer.name_first %>さんの会員情報編集</h1>


  <%= form_for(@customer, url: admin_customer_path) do |f| %>
    

    <table>
  <tbody>
    <tr>
      <td>名前</td>
      <td>(姓)</td>
      <td><%= f.text_field :name_last, autofocus: true, placeholder:"姓" %></td>
      <td>(名)</td>
      <td><%= f.text_field :name_first, autofocus: true, placeholder:"名" %></td>
    </tr>
    <tr>
      <td>フリガナ</td>
      <td>(セイ)</td>
      <td><%= f.text_field :furigana_last, autofocus: true, placeholder:"セイ" %></td>
      <td>(メイ)</td>
      <td><%= f.text_field :furigana_first, autofocus: true, placeholder:"メイ" %></td>
    </tr>
    <tr>
      <td>郵便番号(ハイフンなし)</td>
      <td></td>
      <td><%= f.text_field :post_code, autofocus: true %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>住所</td>
      <td></td>
      <td><%= f.text_field :address, autofocus: true %></td>
      <td></td>
      <td></td>
    </tr>
     <tr>
      <td>電話番号</td>
      <td></td>
      <td><%= f.text_field :phone, autofocus: true %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td></td>
      <td><%= f.text_field :email, autofocus: true %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>会員ステータス</td>
      <td></td>
      <td><%= f.radio_button :void_frag, :true %>有効<%= f.radio_button :void_frag, :false %>退会済み</td>
      <td></td>
      <td></td>
    </tr>

  </tbody>
</table>


  <div class="actions">
    <%= f.submit "変更を保存する", class:"btn btn-primary" %>
  </div>
<% end %>

</div>
</div>
</div>