<div class='body'>
  <div class='container'>
    <div class="row content">
    <h1>会員情報</h1>
      <table class="table table-bordered">
        <thead class="thead-lignt">
 		<tr>
 			<th>会員ID</th>
 			<th>氏名</th>
 			<th>メールアドレス</th>
 			<th>ステータス</th>
 		</tr>
 	</thead>
 	<tbody>
 		<% @customers.each do |customer| %>
 		<tr>
 			<td><%= customer.id %></td>
 			<td><%= link_to admin_customer_path(customer.id) do %>
 				<%= customer.name_last %><%= customer.name_first %>
 			<% end %>
 			</td>
 			<td><%= customer.email %></td>
 			<td><% if customer.void_frag == true %>
 				有効
 				<%else%>
 				退会済み
 				<%end%>
 			</td>
 		</tr>
 		<% end %>
 	</tbody>
 </table>

</div>
</div>
</div>
