<div class='body'>
  <div class='container'>
    <div class="row content">
      <h1>注文情報確認</h1>
      <div class="col-xs-7">
        <%= form_with(model: @order, local: true, url: {action: 'create'}) do |f| %>
        <table  class="table table-bordered">
        <thead class="thead-lignt">
  	    <tr>
  		    <th>商品名</th><th>単価(税込)</th><th>数量</th><th>小計</th>
  	   </tr>
       </thead>
  	   <% @cart_items.each do |cart_items| %>
  	     <tr>
  		   <td><%= cart_items.item.name %></td><td>￥<%= cart_items.taxed_price.floor %></td><td><%= cart_items.quantity %></td><td>￥<%= cart_items.total_price.floor %></td>
  	      </tr>
       <% end %>
       </table>
      </div>
      <div class="col-xs-3">
      <table  class="table table-bordered">
      	<tr>
  		  <td>送料</td><td>￥<%= @order.postage %></td>
    	  </tr>
  	    <tr>
  		  <td>商品合計</td><td>￥<%= @sum.floor %></td>
  	    </tr>
  	    <tr>
  	  	<td>請求金額</td><td>￥<%= @order.amount %></td>
  	    </tr>
      </table>
    </div>
    </div>
   <div class="row content">
   <div class="col-xs-6">
   <div>
　　<h2>支払い方法</h2> <%= @order.pay_method %>
   </div>
   <div>
　　<h2>お届け先
　　　　　</h2><%= @order.post_code %>
　　　　　<%= @order.address %></br>
   　　　<%= @order.name %>
   </div>
   <%= f.hidden_field :customer_id, value: current_customer.id %>
   <%= f.hidden_field :post_code, value: @order.post_code %>
   <%= f.hidden_field :address, value: @order.address %>
   <%= f.hidden_field :name, value: @order.name %>
   <%= f.hidden_field :postage, value: @order.postage %>
   <%= f.hidden_field :pay_method, value: @order.pay_method %>
   <%= f.hidden_field :amount, value: @order.amount %>
    <div  style="text-align:center">
    <%= f.submit "購入を確定する", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
</div>
</div>
</div>
