<div class='body'>
  <div class='container'>
    <div class="row content">
       <h1>注文履歴一覧</h1>
          <table class="table table-bordered">
	        <thead class="thead-lignt">
		    <tr>
			<th>注文日</th>
			<th>配送先</th>
			<th>注文商品</th>
			<th>支払金額</th>
			<th>ステータス</th>
			<th>注文詳細</th>
		    </tr>
	        </thead>
	        <tbody>
		    <% @orders.each do |orders| %>
		    <tr>
			<td><%= l orders.created_at, format: :short %></td>
			<td><%= orders.post_code %><br>
				<%= orders.address %><br>
				<%= orders.name %></td>
			<td><% OrderItem.where(order_id: orders.id).each do |order_items| %>
				<%= order_items.item.name %><br>
				<% end %>
			</td>
			<td>￥<%= orders.amount %></td>
			<td><%= orders.order_status %></td>
			<td><%= link_to "表示する", order_path(orders.id),class: "btn btn-primary" %></td>
		    </tr>
		    <% end %>
	        </tbody>
           </table>