<div class='body'>
  <div class='container'>
    <div class="row content">
      <div class="col-xs-9">
        <h1>ショッピングカート</h1>
        <div  style="text-align:right">
          <%= link_to "全削除", '/cart_items/alldestroy',method: :delete, class: "btn btn-danger" %>
        </div>
        <table  class="table table-bordered">
	      <thead class="thead-lignt">
		    <tr>
		    <th>商品名</th>
		    <th>単価(税込)</th>
		    <th>数量</th>
		    <th>小計</th>
		    <th></th>
		    </tr>
	       </thead>
	       <tbody>
		    <% @cart_items.each do |cart_item| %>
		    <tr>
			  <td><%= attachment_image_tag cart_item.item, :image, :fill, 100, 100, format: 'jpeg' %> <%= cart_item.item.name %></td>
			  <td>￥<%= cart_item.taxed_price.floor %></td>
			  <td>
		        <%= form_for(cart_item, url: cart_item_path(cart_item)) do |f| %>
				<%= f.text_field :quantity %>
				<%= f.submit "変更", class: "btn btn-primary" %>

			    <% end %>
			  </td>
			  <td>￥<%= cart_item.total_price.floor %></td>
              <td><%= link_to "削除する", cart_item_path(cart_item), method: :delete, class: "btn btn-danger"  %></td>
            </tr>
		      <% end %>
	        </tbody>
            </table>
        </div>
    </div>
    <div class="row content">
        <div class="col-xs-3">
        	<%= link_to "買い物を続ける", root_path, class: "btn btn-primary" %>
        </div>
        <div class="col-xs-3">
        </div>
        <div class="col-xs-3", style="text-align:right">
　　　　　　　<table  class="table table-bordered">
	           <tr>
	           	<td>合計金額</td>
                <td>￥<%= @sum.floor %></td>
               </tr>
             </table>
        </div>
    </div>
    <div class="row content">
        <div class="col-xs-9">
            <div  style="text-align:center">
              <%= link_to "情報入力に進む", new_order_path, class: "btn btn-success" %>
            </div>
          </div>
        </div>
      </div>
    </div>



  
