<div class='body'>
  <div class='container'>
    <div class="row content">
      <div class="col-xs-3">
        <%= render 'shared/genre' %>
      </div>
      <div class="col-xs-4">
        <%= attachment_image_tag @item, :image, :fill, 100, 100, format: 'jpeg' %></br>
   	  </div>
   	  <div class="col-xs-5">
        <h1><%= @item.name %></h1>
      <div style="height:200px">
         <%= @item.introduction %>
      </div>
      <div>
        <font size="6">
          ￥<%= (@item.nontaxed_price * 1.1).floor %>(税込)
        </font>
      </div>
       
      <div class="row content">
         <%= form_for @cart_item do |f| %>
            <%= f.select :quantity, [["1","1"],["2","2"],["3","3"],["4","4"],["5","5"]],include_blank: "選択して下さい",class: "form-control-lg"%>
            <%= f.hidden_field :item_id, :value => @item.id %>
            <%= f.submit 'カートに入れる', class: "btn btn-primary my-1"%>
         <% end %>
      </div>
     </div>
   </div>
  </div>
</div>
