<div class='body'>
  <div class='container'>
    <div class="row content">
        <h1>配送先編集</h1>
        <%= form_for(@shipment, url: shipment_path(@shipment)) do |f| %>
  <table>
       <tr>
       <td>郵便番号(ハイフンなし)</td>
       <td><%= f.text_field :post_code, autofocus: true %></td>
       </tr>
       <tr>
       <td>住所</td>
       <td><%= f.text_field :address, autofocus: true %></td>
       </tr>
       <tr>
       <td>宛名</td>
       <td><%= f.text_field :name, autofocus: true %></td>
       <td> <%= f.submit '編集する', class: "btn btn-primary" %></td>
       </tr>
       </table>
<% end %>